@import 'variables';

.divider {

    position: relative;
    // padding: 5em 0;
    border-top-right-radius: 8em;
    border-bottom-left-radius: 8em;
    background: rgb(44,45,63);
    background: linear-gradient(90deg, rgba(44,45,63,1) 0%, rgba(63,65,100,1) 66%);

    &::before {
        content: '';
        position: absolute;
        top: -513px;
        left: -230px;
        background: url("../../app/images/bg-pattern-circles.svg") no-repeat;
        background-size: 100%;
        height: 1018px;
        width: 1014px;
        clip-path: inset(513px 0px 104px 0px);
        z-index: 3;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -110px;
        left: 110px;
        background: url("../../app/images/illustration-phones.svg") no-repeat;
        background-size: 100%;
        width: 552px;
        height: 579px;
        z-index: 6;
    }

    &__item {
        position: relative;
        z-index: 4;
        height: 25em;
    }

    &__header {
        width: 50%;
        margin-left: auto;
    }

    &__title {
        margin-bottom: .5em;
        color: $white;
        font-size: 1.875rem;
    }

    &__description {
        color: $grayishBlue;
    }
    
}