@import 'variables';

.divider {

    position: relative;
    border-top-right-radius: 8em;
    border-bottom-left-radius: 8em;
    background-image: url("../../app/images/bg-pattern-circles.svg"), $darkGrayBlueGradient;
    background-size: 65.2%, 100%;
    background-repeat: no-repeat;
    background-position: left -10rem top -28rem, left;

    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: -513px;
    //     left: -230px;
    //     background: url("../../app/images/bg-pattern-circles.svg") no-repeat;
    //     background-size: 100%;
    //     height: 1018px;
    //     width: 1014px;
    //     clip-path: inset(513px 0px 104px 0px);
    //     z-index: 3;
    // }

    &__circle {
        // position: absolute;
        // top: -31em;
        // left: -14.5em;
        display: none;
    }

    &__item {
        position: relative;
        z-index: 4;
        padding: 8.4em 0;

        // background: $vDarkGrayBlue;
        //     border-top-right-radius: 8em;
        //     border-bottom-left-radius: 8em;
    }

    &__split {
        position: relative;
    }

    &__illustration {
        flex-basis: 50%;
    }

    &__header {
        flex-basis: 50%;
    }

    &__title {
        margin-bottom: .5em;
        color: $white;
        font-size: 1.875rem;
    }

    &__description {
        color: $grayishBlue;
    }

    @include breakpoint-down(medium) {
        
        .container {
            width: 100%;
        }

        background: none;

        &::before {
            display: none;
        }

        // &__item::before {
        //     content: '';
        //     position: absolute;
        //     background: url('../../app/images/bg-pattern-circles.svg') no-repeat;
        //     background-size: 595px;
        //     background-position: center center;
        //     height: 1018px;
        //     top: -275px;
        //     right: 0;
        //     left: 0;
        //     z-index: 5;
        //     // clip-path: inset(513px 0px 104px 0px);
        // }

        &__item::after {
            content: '';
            position: absolute;
            height: 77%;
            background-image: url("../../app/images/bg-pattern-circles.svg"), $darkGrayBlueGradient;
            background-repeat: no-repeat;
            background-size: 155%, 100%;
            background-position: center top calc(-54vw + 50%), center;
            border-top-right-radius: 8em;
            border-bottom-left-radius: 8em;
            bottom: 0;
            right: 0;
            left: 0;
        }

        &__item {
            padding: 0 0 6em 0;
        }

        &__split {
            flex-direction: column;
            z-index: 5;
        }

        // &__circle {
        //     display: block;
        //     position: absolute;
        //     max-width: 664px;
        //     left: 0;
        //     z-index: 5;
        //     top: -81px;
        // }

        &__image {
            position: relative;
        }

        &__header {
            width: 100%;
            margin: 0;
            text-align: center;
        }
    }

    @include breakpoint-up(large){
        &__image {
            position: absolute;
            top: -200px;
            left: -40px;
        }
    }

    @media only screen and (min-width: 1024px) and (max-width: 1149px) {
        &::after {
            bottom: -140px;
            left: 10px;
            background-size: 90%;
        }
    }

    @media only screen and (min-width: 1150px) and (max-width: 1346px) {
        &::after {
            bottom: -140px;
            left: 50px;
            background-size: 95%;
        }
    }
    
}