@import 'variables';
@import 'mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: $font-stack-secondary;
  font-size: $font-default;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a, a:hover, a:visited {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 78.5%;
  margin: 0 auto;
}


.flex {

  display: flex;

  &--fd-c {
    flex-direction: column;
  }

  &--jc-c {
    justify-content: center;
  }

  &--jc-sb {
    justify-content: space-between;
  }

  &--ai-c {
    align-items: center;
  }

}

@include breakpoint-up(large) {
  .hide-for-desktop {
    display: none;
  }
}

@include breakpoint-down(medium) {

  .container-mobile {
    width: 85%;
  }

  .hide-for-mobile {
    display: none;
  }

  .mobile-line-break {
      display: block;
  }
}