@import 'variables';

$gradientBackground: linear-gradient(90deg, rgba(255,143,112,1) 0%, rgba(255,61,84,1) 66%);

.header {
    position: relative;
    height: 39.4375em;
    background: $gradientBackground;
    border-bottom-left-radius: 8rem;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: url('../../app/images/bg-pattern-intro.svg') no-repeat;
        background-size: 225%;
        background-position: 27% 52.6%;
        z-index: -1;
    }

}

.navigation {
    height: 10.5em;
    

    &__dropdown {
        position: relative;
        display: inline-block;

        a::after {
            content: '';
            background: url('../../app/images/icon-arrow-light.svg');
            height: 7px;
            width: 10px;
            position: absolute;
            right: 0;
            bottom: 0;
            top: 10px;
        }
    }

    &__dropdown a,
    &__link {
        margin: 0 20px;
        font-weight: 500;
        color: $white;
    }

    &__cta {
        padding: 0.825em 2.375em;
        border-radius: 50px;
        background: $white;
        color: $lightRed;

        &:hover {
            background: $vLightRed;
            color: $white;
        }
    }

    &__button {
        border: none;
        background: none;
        cursor: pointer;
    }

    &__menu {

        span {
            display: block;
            border-bottom: 2px solid $white;
            height: 2px;
            width: 28px;
        }

        span:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}

.hero {

    margin: 3.4375em 0;

    &__title {
        margin-bottom: 20px;
        line-height: 1.4;
        font-family: $font-stack-primary;
        font-size: clamp(2.125rem, 8vw, 4.25rem);
        text-align: center;
        color: $white;

    }

    &__sub__title {
        margin-bottom: 44px;
        font-size: clamp(1rem, 2.5vw, 1.25rem);
        text-align: center;
        color: $white;
        font-family: $font-stack-primary;

    }

    %__cta {
        padding: 0.825em 1.1em;
        margin: 0 .4em;
        border-radius: 50px;
        text-align: center;
        font-weight: 700;

        @include breakpoint-down(xsmall) {
            margin-bottom: 1em;
        }
    }

    &__button {
        @include breakpoint-down(xsmall) {
            flex-direction: column;
        }
    }

    &__cta:first-child {
        @extend %__cta;
        align-self: center;
        background: $white;
        color: $lightRed;

        &:hover {
            background: $vLightRed;
            color: $white;
        }
    }

    &__cta:last-child {
        @extend %__cta;
        color: $white;
        border: 1px solid $white;   

        &:hover {
            background: $white;
            color: $lightRed;
        }
    }

    @include breakpoint-down(medium) {
        margin: 1.5625em 0;
        padding: 0 .7em;
    }
}

.hamburger {
    padding: 2em;
    width: 100%;
    border-radius: 5px;
    background: $white;
    transform: translateY(-40px);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

    &__menu {
        position: relative;
        padding: 0 0 2em 0;

        &::after {
            content: '';
            position: absolute;
            border-top: 1px solid $grayishBlue;
            width: 100%;
            bottom: 0;
            right: 0;
            left: 0;
        }
    }

    .auth {
        padding: 2em 0 0 0;
        width: 100%;

        %button {
            font-weight: 500;
        }

        &__link:first-child {
            color: $vDarkGrayishBlue;
            margin-bottom: 1em;
            @extend %button;
        }

        &__link:last-child {
            @extend %button;
        }

        &__cta {
            padding: 0.825em 2.375em;
            border-radius: 50px;
            background: $gradientBackground;
            color: $white;
            text-align: center;

            @include breakpoint-down(xsmall) {
                padding: 0.825em 1.375em;
                min-width: 130px;
            }
        }
    }
}

// Accordion 

.accordion {

    &__item {
        width: 100%;
    }

    &__header {

        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
        color: $vDarkGrayishBlue;
        font-size: 1rem;
        font-weight: 500;
        align-self: center;

        &:not(:last-child) {
            margin-bottom: 1.5625em;
        }

        p {
            margin-right: .3em;
        }
        
    }
    
    &__collapse {
        padding: 1.5em;
        margin-bottom: 1.5625em;
        border-radius: 5px;
        background: $gray;
    }

    &__link {
        color: $vDarkGrayishBlue;
        font-size: 1rem;
        font-weight: 500;

        &:not(:last-child) {
            margin-bottom: 18px;
        }
    }
}